
/*Utility*/

*{
    box-sizing: border-box;
    padding: 0;  margin: 0;
    border: 0;  outline: none;
   
    color:  var(--accent-color);/*rgb(178, 53, 178);*/
    font-size: inherit;
    user-select: inherit;
   
    text-shadow: 0px 0px 5px rgba(178, 53, 178, 0.595),
                 0 0 10px rgb(207, 77, 207);
}
html{
    height:100%; width:100%; overflow: auto; min-width: none;
    user-select: none;
}

:root{
    --accent-bg: linear-gradient(to right, #8ffe4f 0%, #00f2fe 100%);
    --accent-bg-reverse: linear-gradient(to right, #00f2fe 0%,#4facfe 100%);
    --accent-color:#e944e9;
}

body{ 
    font-size: min(2.5vmin,20vw);
    font-weight: lighter;
    background-attachment: fixed;
    margin: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%; height: 100%;
}



::-webkit-scrollbar{
    width: 0.5vw;
    height: 0.5vh;
   
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.499); 
}
::-webkit-scrollbar-thumb{
    background-color: rgb(35, 35, 35);
    border-radius: 2px;
    outline: 1px solid rgba(255, 255, 255, 0.218);
}
::-webkit-scrollbar-corner{
    display: none;
}


input[type="range"]{
    -webkit-appearance: none;
    background-color: transparent;
    width: 100%; height: 10%;
}
::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 10%;
}
::-webkit-slider-thumb{
    position: relative;
    -webkit-appearance: none;
    background-color: rgb(255, 255, 255);
    width: 8%;
    aspect-ratio: 1;
    margin: -4%;
    border-radius: 100%;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 100%;
	height: 100%;
    margin: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}



textarea,select,input[type="text"]{
    box-shadow: inset 0 0 5px black;
    padding: 0.8rem;
}
option{
    background-color: transparent;
    border-radius: 2px;
}
ul{
    list-style: none;
}
button{
    background: transparent;
    border-radius: 4px;
    padding: 2%;
}
input[type="checkbox"],input[type="radio"]{
    opacity: 0;
    width: 0; height: 0;
}


.hide{
    display: none !important;
}
.extend-max-height{
    max-height: 300vh !important;
}
.flex-center-around{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.content-edit{
    white-space:pre;
    text-overflow:clip;
    overflow-x:auto;
}
.fa-thin{
    -webkit-text-stroke: 0.05vi var(--accent-color);
    color: transparent;
    text-shadow: none;
}


/* */

#main-display{
    display: flex;
    flex-direction: column;
    z-index: 500;
    
    position: fixed;
    left: 0;
    
    width: 20vw;
    height: 100vh;
    
    box-shadow: 0px 0px 5px 2px var(--accent-color),0px 0px 1px 1px white;
    backdrop-filter: blur(2px);
    
    /* background-image:linear-gradient(20deg, hsla(204, 47%, 32%, 0.756) 12%, hsla(253, 28%, 36%, 0.756) 100%); */
    background-color: rgba(54, 54, 54, 0.3);
    
    transition: translate 750ms ease-in-out;
}

#info-area{

    display: flex;  flex-direction: column;
    height: 100%; width: 100%;
    font-size: inherit;
    background-attachment: fixed;


    padding: 2%;
    gap: 2%;
    overflow: auto;
}

#header{
    background-image: var(--accent-bg);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 90%;

    margin-bottom: 12%;
    padding-left: 12%;
    height: 5%;
}



.check-bt{
    position: absolute;
    height: 100%;
    display: flex;  align-items: center;

    left: 100%; top: 0;
    border-top-right-radius: -10%;
    border-bottom-right-radius: 10%;
    border-left: 1px solid white;

    background: var(--accent-bg-reverse);
    padding: 3%;
}
.check-bt input+i{ 
    transition: transform .5s ease-in-out;
}
.check-bt input:checked+i{
    transform: rotate(180deg);
}
#main-display:has(#header .check-bt input:checked){
    translate: -100% 0;
}



.default{
    position: absolute;
    --background: rgb(255, 255, 255);
    --color: white;
    --node-size: 40px;
    --border-radius: 50%;
    --neon-color: var(--accent-color);
    --font-size: calc(var(--node-size)*0.4);
    --spread-radius: 10;
    --select-color: #008080;
}


.node{
    position: absolute;
    /* background:transparent; */
    color: var(--background);

    width: var(--node-size);  border-radius: var(--border-radius);
    aspect-ratio: 1;

    display: grid; place-content: center;
    font-size: var(--font-size);
    border: 2px solid var(--background);
    transition: transform 250ms ease-out;
}
.node:hover{
    transform: translateY(-2px);
}

.default.plain :is(.node.selected,.edge.selected){
    --neon-color: var(--select-color);
}
.default.rainbow :is(.node.selected,.edge.selected) {
    animation: pulse 3000ms infinite linear alternate;
}
.selected{
    background: radial-gradient(transparent 30%,var(--neon-color));
}
@keyframes pulse{
    to{filter: hue-rotate(720deg);}
}

.edge{
    position: absolute; 
    z-index: 100;
    background-color: var(--background);
    height: 2.5px;
    color: var(--neon-color);
    font-size: calc(var(--font-size)*.9);
    display: flex;
    align-items: center;
}
.edge div{
    position: absolute;
    right: 0; 
}
.edge span{
    position: absolute;
    left: 50%; top: -700%;
    color: var(--background);
    user-select: all;
}
.edge>*,.node{
    text-shadow: 0px 0px 1px var(--neon-color),0 0 4px var(--neon-color);
}

.edge.neon,.neon{
    box-shadow: 0px 0px calc((1vh*var(--spread-radius))/15);
    /* 0px 0px calc((1vh*var(--spread-radius))/25) var(--neon-color); */
}
.node.neon{
    box-shadow: 0px 0px calc((1vh*var(--spread-radius))/10) .1vh var(--neon-color),
    0px 0px calc((1vh*var(--spread-radius))/10) var(--neon-color) inset;
}


#selection-menu{
    position: absolute;
    width: min-content;
    display: none;
    background-color: rgb(42, 42, 42);
    border: 1px double white;
    box-shadow:3px 2px 5px 1px rgba(0, 0, 0, 0.63);
    z-index: 500;
}
#selection-menu li:hover{
    background-color: rgba(128, 128, 128, 0.559);
}
#selection-menu button{
    width: 100%;
    text-align: left;
}




.new-graph{
    position: relative;
    height: 100%;
    aspect-ratio: 1;
    z-index: 600;
    display: grid;
    place-content: center;
    background-color: transparent
}
.new-graph input:checked +.input-info{
    max-height: 900px;
}
.new-graph:has(>input:checked){
    box-shadow: inset 0 0 5px white;
}


.input-info{
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 250ms ease-in-out;
    border-radius: 0 2% 2% 2%;
}
.input-info select{
    background: var(--accent-bg);
    font-size: 120%;
    text-shadow: none;
    box-shadow: none;
    
}
.input-info select option{
    background: rgb(255, 255, 255);
    padding: 0.1rem;
}
.input-info textarea{
    background-color: rgb(32, 32, 32);
    min-width: min(100%,300px);
    
}

.input-info .graph-type{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--accent-bg-reverse);
    border-bottom: 2px solid;
    border-image: linear-gradient(45deg,yellow,orange) 1;
}


.input-info .graph-type label{
    padding: 5px;
    flex-grow: 1; 
}
.input-info .graph-type label:has(input:checked){
   color:teal;
   background-color: #a2fffc78;
}
.input-info>label{
    position: relative;
}
.input-info button{
    position: absolute;

    padding: 2px; margin:4px;
    background: rgb(105, 255, 215);
    box-shadow: 0px 0px 2px rgb(0, 0, 0) inset;
    border-radius: 0;
    top: 0; right: 0;
}






.menu{
    position: relative;
    display: flex;  flex-direction: column;
    box-shadow: 0 0 .2vh 1px var(--accent-color),0 0 .1vh 1px white;
}
.menu.main{
    background-color: rgba(21, 21, 21, 0.412);
    --graph-id: 1;
}
.menu.main>.header>*{
    padding: 0; margin-right: 10%;
}
.menu .menu .menu-info >*{
    margin-left: 5%;
    border-left: 1px solid gray;
    padding: 5px;
}
.header{
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 0;  

    height: 100%;
    padding: 3% 0 3% 2%;
    background: inherit;
    font-size: 120%;
}
.menu button:hover{
    background-color: rgba(0, 128, 128, 0.173) 
}

.menu-info{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease-in-out;
}

.menu-info >*{
    text-align: left;
    padding: 2%;
    font-size: inherit;
   
    border-bottom: 0.2px solid rgba(105, 105, 105, 0.499);
    transition: transform,opacity 150ms ease-in-out;
}

.menu .menu-info>button:hover,.display-settings .menu-info>*:hover,.chain .menu-info>*:hover{
    background: linear-gradient(90deg, rgb(137, 50, 130) 0%, rgba(181, 79, 254, 0.947) 51%, rgba(0, 213, 255, 0.262) 100%);
}

.chain-menu-play{
    transform: rotate(90deg);
}

.chain .menu-info>*:focus>*{
    translate: 10px 0px;
    background-color: rgb(255, 255, 255);
}

.display-settings .menu-info input{
    width: 50%;
    height: 50%;
    margin: auto;
}


.select-color{
    box-shadow: none;
    font-size: 70%;
}
.select-color .header,.select-color .header *{
    margin: 0; padding: 0;
}
.select-color select{
    font-size: inherit;
    background-color: transparent;
    width: 50%;
    padding: 0; margin: 0;
}

.weight[data-toggle=true] {
    background: var(--accent-bg);
}

.overview .header{
    font-size: 80%;
    display: flex;
    align-items: center;
    flex-basis: content;
    overflow-y: auto;

}
.overview .header>*{
    min-width: max-content;
}
.overview .menu-info{
    display: flex;
    flex-direction: row;
   
}
.overview .menu-info>*{
    min-width: 100%;
    margin: 0 !important; padding: 0 !important;
    background-color: transparent;
}
.overview .selected{
    background-color: gray !important;
}


.tab{
    position: relative;
    display: grid;
    grid-template-areas: "corner x" "y content";
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    width: 100%; height: 100%;
    aspect-ratio: 1;
}
.tab textarea{
    grid-area: content;
    width: 100%;
    text-shadow: none;
    background: transparent;
    resize: none;
    overflow: scroll;
    font-size: 1vw;
    padding: 0; margin-top: -.2vw;
    line-height: 1.5vw;
}
.node-degree{
    display: flex;
    height: 100%;
    grid-area: content;
    
}

.node-degree textarea{
    grid-area: unset;
    flex-grow: 1;
    overflow-y: hidden;
}
.node-degree .degree{
    position: relative;
    display: flex;
    flex-direction: column;
    border-left: 1px solid gray;
    min-width: 0;
    flex-grow: 1;
    flex-basis: 33%;
}
.node-degree .degree span{
    display: block;
    border: 1px solid gray;
    overflow: hidden;
    font-size: 1vw;
    height: 1.5vw;
}


.Xaxis{
    position: relative;
    top: 0; left: 0;
    height: 1.5vw; width: 100%;
    grid-column: corner / x;
    grid-row: corner;
}
.Yaxis{
    position: relative;
    top: 0; left: 0;
    height: 100%; width: 1vw;
    grid-row: corner / y;
    grid-column: corner;
}

:is(.Xaxis,.Yaxis) .line-number{
    font-size: 1vw;
}



.resize{
    position: absolute;
    right: -0.1rem;
    width: 0.2rem;
    margin-right: -0.1rem;
    height: 100%;
}
.resize:hover{
    background-color: rgba(255, 255, 255, 0.136);
    cursor: col-resize;
}



.bottom-line{
    position: fixed;
    width: 99%;
    bottom: 0;
}
.right-line{
    position: fixed;
    height: 99%;
    right: 0;
}

.line-number{
    font-size: 0.5em;
    color:rgb(100, 100, 100);
    text-shadow: none;
    display: grid;
    place-items: center;
}
.line-number:hover{
    color: var(--accent-color)
}


#line{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    min-width: 100%; min-height: 100%;
    background-color: transparent;
    /* background-color: rgba(255, 255, 255, 0.201); */
}