
html,body{
    margin: 0;  padding: 0;
    width: 100%;   height: 100%;
    position: absolute;

    width: 100%; height: 100%;
    display: grid;
    grid-template-areas: 
        'menu-bar menu-bar' 
        'header-bar header-bar' 
        'tab-area inspector';
    grid-template-rows: 5% 4% 91%;
    grid-template-columns: auto min-content;
    
    background:var(--background);
    color: var(--color);
    font-weight: lighter;
    overflow: hidden;
}
:root{
    --background:  rgb(23, 23, 23);
    --tab-background:  rgba(36, 36, 36);
    --menu-background: #2c2c2c;
    --ui-select: rgba(52, 178, 245, 0.544);
    --ui-select2: rgba(1, 81, 123, 0.722);
    --input-shadow-color: rgba(0, 0, 0, 0.619);
    --input-background: #1D1C1C;
    --color: white;
    
}
*{
    color: inherit;
    user-select: none;
    box-sizing: border-box;
    font: inherit;
}
::-webkit-scrollbar{
    background-color: inherit;
    width: 8px;    height: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--input-shadow-color);
    border-radius: .2em;
}
::-webkit-scrollbar-corner{
    display: none;
}
input,textarea,select,text-input{
    border: none;   outline: none;
    padding: 0; margin: 0;
    padding: .1rem; 
    box-shadow: 0 0 3px 1px var(--input-shadow-color) inset;
    background-color: var(--input-background);
}
button{
    border: none;   outline: none;
    padding: 0; margin: 0;
    background-color: transparent;
    padding: .1rem; 
}
input[type=color] { 
	background-color: transparent;
    width: 5rem; height: 1rem;
    box-shadow: none;
	&::-webkit-color-swatch {
        outline: none;
        box-shadow: 2px 1px 4px 1pxs var(--input-shadow-color);
        border: none;
	}
	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}
}
input[type="range"]{
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    height: 2px;
    background-color: var(--input-background);
    &::-webkit-slider-thumb{
        -webkit-appearance: none;
        background-color: var(--input-background);
        width: .4rem;
        height: .8rem;
    }
    &::after{
        content: attr(value);
        position: absolute;
        left: calc(101%);
        translate: 0 -50%;
    }
}
input[type="file"]{
    display: none;
}

input[type=text] {
	appearance: none;
    &:focus{
        background-color: var(--ui-select);
    }
}
input[type="checkbox"]{
    accent-color:  var(--input-background);
}
option, option:focus{
    background-color:  var(--input-background);
}



.hide{
    display: none !important;
}

/*graph styles*/
graph-tab{
    --node-color: #ffffff;
    --node-border-width: 1px;
    --node-border-style: solid;
    --node-border-color: white;
    --node-border-radius: 100%;
    --node-width: 38px;
    --node-height: var(--node-width);
    --node-background: #242424;
    --node-emission: 10px;
    --edge-width: 1px;
    --edge-color: white;
    --edge-emission: 10px;
    --zoom: 1;
    z-index: 10;
}

/* graph-node{
    box-shadow: 0 0 7px var(--node-border-color);
    text-shadow: 0 0 3px var(--color), 0 0 2px var(--node--color);
} */

.menu-bar{
    grid-area: menu-bar;
    display: flex;
    align-items: center;
    color: white;
    gap: 2vw;
    margin-left: 2vw;
    font-weight: bolder;

    & > button{
        background-color: inherit;
        color: inherit;
        &:hover{
            border-bottom: 1px double white;
        }
    }
}

.header{
    grid-area: header-bar;
    display: flex;
    align-items: end;

    width: 100%;
    padding-left: 1vw;
    border-bottom: 3px solid;
    overflow: hidden;

    & text-input{
        height: 80%;
        border-radius: 5px 5px 0 0;
        margin: 0 .1vw; padding: .4rem;
        display: grid;
        place-content: center center;

        text-shadow: 0 0 3px rgb(0, 0, 0), 0 0 5px rgba(0, 0, 0, 0.4);
        min-width: 1%;
        text-wrap: nowrap;
        color: rgb(from var(--color) r g b /0.8);

        &.selected{
            height: 100%;
            font-weight: bolder;
            color: var(--color);
        }
        &:focus{
            background-color: var(--ui-select2);
        }

        &:hover{
            text-decoration: underline;
        }
    }

    .new-graph{
        background-color: rgb(36, 36, 36);
        flex: 0 0 5vw;    height: 80%;
        color: inherit;
        border-radius: 5px 5px 0 0;
    
        &:hover{
            background-color: var(--ui-select);
        }
    }
}

.tab-area{
    position: relative;
    grid-area: tab-area;
    background-color: transparent;
    z-index: 1;
    overflow: hidden;

    & > *{
        padding: 0;
        width: 100%;    height: 100%;
        background: var(--tab-background);
    }
}

span[contenteditable="true"]{
    outline: none;
    padding: .1rem;
    background-color: var(--ui-select);
}
/* Menu bar */



pop-menu{
    background-color: var(--menu-background);
    box-shadow: 1px 1px 7px 4px rgba(30, 30, 30, 0.904);
    border: 1px solid rgba(255, 255, 255, 0.305);
    z-index: 300;
    height: max-content;
}

.category{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    border-top: 1px solid rgba(255, 255, 255, 0.425);
    
    & > div:first-child{
        padding-left: .5rem;
        font-weight: bolder;
    }
    > [name]:not(.category) {
        padding: .3rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: capitalize;
        
        &:hover{
            background-color: var(--ui-select2);
        }
    }

    &:has( >:first-child :not(input:checked) ) >:not(:first-child){
        height: 0; padding: 0; margin: 0;
        display: none;
    }
}

#file-dialog{
    width: 20%;
    height: 30%;
    overflow: hidden;
    padding: 0; 
    background-color: var(--menu-background);
    box-shadow: 1px 1px 7px 4px rgba(30, 30, 30, 0.904);
    border: 1px solid rgba(255, 255, 255, 0.305);
    z-index: 300;
    height: max-content;

    .h{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .list{
        display: flex;
        flex-direction: column;
        padding: .2rem  0 0 .2rem;
        overflow: scroll;
        height: 90%;
        box-shadow: 0 0 5px black;

        >:nth-child(odd){
            background-color: #1D1C1C;
        }
        >:nth-child(even){
            background-color: black;
        }
        & >*{
            display: flex;
            gap: 1rem;
            padding: 1rem 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.323);
        }
    }
    & button{
        padding: .4rem;
        background-color: var(--background);
        &:hover{
            text-decoration: underline;
        }
    }
}


#graph-addition-dialog{
    width: 75%; height: 75%;
    border: none;
    border-radius: 5px;
    background-color: var(--menu-background);
    padding: .5rem;
    overflow: hidden;

    .container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%; width: 100%;

        .header{
            font-size: 1rem;
            display: flex;
            gap: 10px;
            border-bottom: 1px solid white;
            padding: 5px;
        }
        .header [name="submit"]{
            display: inline-block;
            margin-left:auto;
        }
        .inputs {
            padding: .7rem 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .tabs{
            width: 100%;
            height: 100%;
        }
        & textarea{
            resize: none;
            width: 100%; height: 100%;
        }
    }

    &::backdrop{
        background-color: rgba(0, 0, 0, 0.55);
        backdrop-filter: blur(2px);
    }
}

#inspector{
    position: relative;
    display: flex;
    flex-direction:column;
    grid-area: inspector;
    z-index: 10;
    min-width: 20%;

    background-color: rgb(from var(--background) r g b /0.9);   
    box-shadow: 0 0 10px 1px black;
    border-left: 1px solid gray;
    padding: .2rem;

    --input-background: var(--menu-background);

    &> :first-child{
        display: flex;
        justify-content: space-between;
        flex-wrap: none;
        font-weight: 900;
        border-bottom: 1px solid white;
    }

    & .tabs{
        flex: 1 0 auto;

        &> *{
            width: 100%; height: 100%;
        }
    }

    & pop-menu{
        position: relative;
        background-color: transparent;
        width: 100%;
        
    }


    &:hover::before{
        position: absolute;
        content: "";
        left: 0;
        height: 100%;
        width: 5px;
        cursor: e-resize;
    }
}


    
    


